.column-container {
	background-color: #383838;
	padding: 5px;
	width: 400px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;

	.task-container {
		.group-container {
			padding: 10px 0;
			.group-title-container {
				padding-left: 10px;
				position: relative;
				font-size: 24px;
				display: flex;
				justify-content: space-between;

				.group-title-wrap {
					display: flex;
				}

				.group-title-btns {
					background: none;
					border: none;
					cursor: pointer;
				}

				.group-title-wrap-btn {
					padding: 3px 3px;
				}

				.group-title-edit-btn {
					padding: 0 3px;
				}

				.group-title-delete-btn {
					padding: 3px 3px;
				}
			}

			.group-dropdown {
				height: 30px;
			}

			.group-task-droppable-container {
				position: relative;
				margin-top: 5px;
				padding: 20px 0;
				border-top-right-radius: 20px;
				border-bottom-left-radius: 20px;

				.group-task-container {
					min-height: 200px;
				}
			}
		}
	}
}

.column-opacity {
	opacity: 0.8;
}
