.list-cards {
	background-color: #383838;
	padding: 5px;
	width: 400px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;

	.container-cards {
		.pool {
			padding: 10px 0;

			.pool-name-dropdown {
				display: flex;
				// border: 1px solid black;
			}
			.pool-title {
				padding-left: 10px;
				position: relative;
				font-size: 24px;
				display: flex;
				justify-content: space-between;

				.pool-title-delete-btn {
					background: none;
					border: none;
					padding: 3px 3px;
					cursor: pointer;
				}

				.pool-title-wrap-btn {
					background: none;
					border: none;
					cursor: pointer;
					padding: 3px 3px;
				}

				.pool-title-edit-btn {
					background: none;
					border: none;
					padding: 0 3px;
					cursor: pointer;
				}
			}
			.pool-task-container {
				position: relative;
				margin-top: 5px;
				padding: 20px 0;
				border-top-right-radius: 20px;
				border-bottom-left-radius: 20px;
				.card-container {
					min-height: 200px;
				}
			}
		}
	}
}

.list-opacity {
	opacity: 0.8;
}

.pool-wrapped {
	height: 30px;
}
