.title-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	padding-left: 5px;
	margin: 20px;
	font-size: 24px;
	font-weight: bold;

	.list-limit {
		color: #808080;
		font-size: 16px;
	}

	.edit-list-name-btn {
		position: absolute;
		top: 3px;
		padding-left: 5px;
		background: none;
		border: none;
		color: #e4e4e4;
		cursor: pointer;
	}

	.edit-list-limit-btn {
		position: absolute;
		top: -20px;
		right: 0px;
		background: none;
		border: none;
		color: #e4e4e4;
		cursor: pointer;
	}

	.delete-list-btn {
		position: absolute;
		top: -20px;
		right: -20px;
		background: none;
		border: none;
		color: #e4e4e4;
		cursor: pointer;
	}
}
