.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	min-width: 100%;
	width: fit-content;

	.wrapper-buttons {
		display: flex;
		gap: 20px;
	}

	.create-btn {
		button {
			width: 170px;
			background: none;
			background-color: none;
			padding: 10px 20px;
			border: 1px solid #e4e4e4;
			color: #e4e4e4;
			transition: ease-out 0.2s;
			letter-spacing: 3px;
			&:hover {
				background-color: #e4e4e4;
				color: #212121;
			}
		}
	}

	.cards {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}
}
