.card-wrap {
	//odpowiada za taska
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	margin: 10px;
	padding-left: 10px;
	border-radius: 10px;
	font-size: 24px;
	background-color: #25262b;
	flex-wrap: wrap;
	// word-break: break-all;
	.card-title {
		padding: 25px 10px 5px;
		width: 80%;
	}
	.card-edit-name-btn {
		position: absolute;
		top: 5px;
		right: 30px;
		background: none;
		border: none;
		color: #e4e4e4;
		cursor: pointer;
	}

	.card-delete-btn {
		position: absolute;
		top: 5px;
		right: 5px;
		background: none;
		border: none;
		color: #e4e4e4;
		cursor: pointer;
	}
}

.card-opacity {
	opacity: 0.5;
}
