.create-task-btn {
	text-align: center;
	padding: 8px 0;

	button {
		background: none;
		background-color: none;
		padding: 10px 20px;
		border: 1px solid #e4e4e4;
		color: #e4e4e4;
		transition: ease-out 0.2s;
		letter-spacing: 2px;
		cursor: pointer;
		&:hover {
			background-color: #e4e4e4;
			color: #212121;
		}
	}
}
