* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #212121;
	color: #e4e4e4;
	position: relative;
}

.kanban-board {
	height: 300px;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

.kanban-knowlege {
	height: 300px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: -1;
	transform: scaleX(-1);
}

.lang-selector {
	position: absolute;
	display: flex;
	gap: 2px;
	top: 15px;
	left: 1%;
	z-index: 1;
}

a:link {
	color: #e4e4e4;
}

a:visited {
	color: #e4e4e4;
}

a:active {
	color: #e4e4e4;
}


@media (max-width: 576px) {
	html {
		font-size: 10px;
	}

	.modal-font {
		label,
		input,
		p,
		svg,
		span,
		div,
		button {
			font-size: 1.2rem;
		}
	}

	.lang-selector {
		top: 1%;
		left: 2%;
	}

	.home {
		align-items: normal;
		width: auto;

		& .column-grup-add-buttons {
			flex-direction: column;
			align-items: center;
			gap: 1rem;

			& .create-btn button {
				font-size: 1.4rem;
				width: 120px;
				padding: 0.6rem 0;
				letter-spacing: 0.1rem;
			}
		}

		& .users-list-container {
			& .users-list-avatars {
				width: 80%;
				height: auto;
				flex-wrap: wrap;
				margin-top: 10px;
			}

			& .users-list-title {
				font-size: 1.4rem;
			}
		}

		& .columns {
			padding: 0 1rem;
			overflow-x: scroll;
		}
	}

	.create-task-btn button {
		padding: 0.6rem 1.2rem;
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
	}

	.avatar-image,
	.avatar-no-image {
		width: 30px;
		height: 30px;
	}

	.number-of-assigeds-info {
		width: 15px;
		height: 15px;
		font-size: 10px;
	}

	.adjust-limit-container {
		font-size: 1.4rem;
		.adjust-limit-input {
			input {
				text-align: center;
				width: 30px;
				font-size: 1.2rem;
			}
		}
		button {
			font-size: 1.4rem;
		}
	}

	nav .container div h1 {
		margin-top: 50px;
	}

	nav {
		position: static;
	}

	nav .nav-avatar {
		right: 2%;
		bottom: 0;
	}

	.user-menu-conainer .user-menu-info {
		display: none;
	}

	.column-container {
		width: 370px;
	}

	.card-wrap .card-users .card-users-container .card-users-amount {
		width: 30px;
		height: 30px;
		font-size: 1.6rem;
	}

	.column-title-container {
		font-size: 1.6rem;
		padding-left: 0px;
		svg {
			width: 16px;
			height: 16px;
		}
		& .column-limit {
			font-size: 1.4rem;
		}
	}

	.column-container {
		& .group-title-wrap {
			font-size: 1.6rem;
		}
		svg {
			width: 1.6rem;
			height: 1.6rem;
		}
	}

	.card-wrap {
		font-size: 1.6rem;
	}
	.card-wrap
		.card-title
		.card-title-container
		.card-title-container__icon-container
		.card-title-container__icon-container__icon {
		width: 1.6rem;
		height: 1.6rem;
	}

	.card-wrap .card-bug {
		font-size: 21px;
	}

	.mantine-Checkbox-inner {
		svg {
			width: 0.6rem;
			height: 0.6rem;
			font-size: 0.6rem;
		}
	}

	.card-wrap .card-users .card-users-container .card-users-add {
		width: 30px;
		height: 30px;
	}

	.group-title-wrap-btn {
		padding: 0px 3px;
	}

	.notyfication-text {
		font-size: 1.4rem;
	}
}
